body{
  font-family:Arial, Helvetica, sans-serif
}

h1 {
	
	background-color: rgb(200, 200, 200);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

ul {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

button {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
